// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/utilities";
@import "config/general";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "overlay/index";
@import "carousel/owl.carousel";