<div class="footer">
  <div class="footer-container">
    <div class="location-footer hidden-xs hidden-sm">
      <h3>Find us</h3>
      <p>Prinsengracht 267</p>
      <p>1016 GV Amsterdam</p>
      <img src="http://placehold.it/200x100" alt="Energy label">
    </div>
    <div class="information-footer">
      <%= image_tag 'logo-text.png', class: "logo", alt: "Flying Dutch Boats logo" %>
      <%= link_to "+31 647589217", "tel:+31647589217", class: "red-link" %>
      <%= link_to "info@flyingdutchboats.com", "mailto:info@flyingdutchboats.com", class: "red-link" %>
    </div>
    <div class="tripadvisor-widget hidden-xs hidden-sm">


      <div id="TA_selfserveprop841" class="TA_selfserveprop">
        <ul id="H15NSk2kR8" class="TA_links 9YqND1R3O0ag">
          <li id="KaWsJsIlZhS" class="pRS53Jci8MD">
            <a target="_blank" href="https://www.tripadvisor.nl/"><img src="https://www.tripadvisor.nl/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
