<div class="footer">
  <div class="footer-container">
    <div class="location-footer hidden-xs hidden-sm">
      <h3>Find us</h3>
      <p>Prinsengracht 267</p>
      <p>1016 GV Amsterdam</p>
      <img src="http://placehold.it/200x100" alt="Energy label">
    </div>
    <div class="information-footer">
      <img src="images/logo-text.png" alt="Flying Dutch Boats logo">
      <p>+31 647589217</p>
      <p>info@flyingdutchboats.com</p>
    </div>
    <div class="tripadvisor-widget hidden-xs hidden-sm">


      <div id="TA_selfserveprop841" class="TA_selfserveprop">
        <ul id="H15NSk2kR8" class="TA_links 9YqND1R3O0ag">
          <li id="KaWsJsIlZhS" class="pRS53Jci8MD">
            <a target="_blank" href="https://www.tripadvisor.nl/"><img src="https://www.tripadvisor.nl/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
