<div class="navbar">
  <div class="navbar-container">
    <img src="images/logo-text.png" alt="Logo Flying Dutch Boats">
    <div class="navbar-right-side hidden-xs hidden-sm">
      <div class="navbar-top">
        <div class="social-items">
          <a href="https://www.facebook.com/FlyingDutchBoats/" target="_blank">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/flyingdutchboats/?hl=nl" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://www.tripadvisor.nl/Attraction_Review-g188590-d12691954-Reviews-Flying_Dutch_Boats-Amsterdam_North_Holland_Province.html" target="_blank">
            <!-- <i class="fa fa-tripadvisor fa-2x" aria-hidden="true"></i> -->
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <p>+31 647589217</p>
        <a href="booking.html" class="btn-red">Request now</a>
      </div>
      <div class="navbar-bottom">
        <a href="index.html.erb">Canal Cruises</a>
        <a href="boat_rental.html.erb">Boat Rental</a>
        <a href="faq.html.erb">FAQ</a>
        <a href="events.html.erb">Events</a>
        <a href="recommendations.html.erb">Recommendations</a>
        <a href="contact.html.erb">Contact</a>
      </div>
    </div>
    <div class="dropdown visible-xs visible-sm">
      <i class="fa fa-align-justify dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Canal Tours</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Boat Rental</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">FAQ</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Events</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Recommendations</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reserve now</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">+31 647589217</a></li>
      </ul>
    </div>
  </div>
</div>
