.banner-three-columns {
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}

@media(max-width: 720px) {
  .banner-three-columns {
    background-position: center;
    .logo {
      width: 100%;
      margin-top: 100px;
    }
  }
}

@media(min-width: 720px) {
  .banner-three-columns {
    padding-bottom: 150px;
    justify-content: flex-end;
    .logo {
      z-index: 0;
      position: absolute;
      bottom: 150px;
      left: 50px;
      width: 45%;
    }
  }
}