.banner-three-columns {
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}


// XS
@media(max-width: 767px) {
  .banner-three-columns {
    // background-position: center;
    background-position-x: 60%;
    .logo {
      width: 100%;
      margin-top: 70px;
    }
  }
}

// SM
@media(min-width: 768px) and (max-width: 992px) {
  .banner-three-columns {
    padding: 0 100px;
    background-position: center;
    justify-content: center;
    .logo {
      margin-top: 50px;
      width: 100%;
    }
  }
}

// MD
@media(min-width: 993px) and (max-width: 1200px) {
  .banner-three-columns {
    padding: 0 100px;
    justify-content: center;
    .logo {
      width: 100%;
    }
  }
}

// LG
@media(min-width: 1201px) {
  .banner-three-columns {
    padding-bottom: 150px;
    justify-content: flex-end;
    .logo {
      z-index: 0;
      position: absolute;
      bottom: 150px;
      left: 50px;
      width: 45%;
    }
  }
}







