.banner {
  position: relative;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .banner-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    h1 {
      text-shadow: 2px 2px 4px rgba(1,1,1,0.3);
      color: white;
    }
  }
  .red-mobile-button {
    margin-top: 20px;
  }
}

.banner-boat-rental {
  height: 65vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    max-width: 500px;
    color: white;
    padding-left: 50px;
    text-shadow: 1px 1px 1px #00000070;
  }
}

@media(min-width: 968px) {
  .banner {
    height: 500px;
  }
}

@media(max-width: 967px) {
  .banner {
    height: 200px;
  }
}
