.banner {
  display: flex;
  .banner-image {
    flex: 0 1 50%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%), image-url('voorpagina-afbeelding.jpeg');
    height: 400px;
    background-size: cover;
    background-position: center;
  }
  .banner-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    flex: 0 1 50%;
    padding: 50px;
    h1 {
      color: white;
    }
  }
}

@media(min-width: 968px) {
  .banner {
  }
}

@media(max-width: 967px) {
  .banner {
    height: 300px;
  }
}
