.banner {
  display: flex;
  .banner-image {
    flex: 0 1 50%;
    background-image: image-url('voorpagina-afbeelding.jpeg');
    height: 400px;
    background-size: cover;
    background-position: center;
  }
  .banner-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:  linear-gradient(to top, #ff0844 0%, #d66c4b 100%);
    flex: 0 1 50%;
    padding: 50px;
    h1 {
      color: white;
    }
  }
}

.banner-boat-rental {
  height: 65vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    max-width: 500px;
    color: white;
    padding-left: 50px;
    text-shadow: 1px 1px 1px #00000070;
  }
}

@media(min-width: 968px) {
  .banner {
  }
}

@media(max-width: 967px) {
  .banner {
    height: 300px;
  }
}
