.btn-red {
  background-color: $red;
  padding: 10px 15px;
  border-radius: 3px;
  color: $white;
  font-weight: bold;
  margin-right: 0px;
}

.btn-red:hover {
  text-decoration: none;
  color: white;
}


.red-link {
  color: $red;
  text-decoration: underline;
}