.btn-red {
  background-color: $red;
  padding: 10px 15px;
  border-radius: 3px;
  color: $white;
  font-weight: bold;
  margin-right: 0px;
}

.btn-red:hover {
  text-decoration: none;
  color: white;
}


.red-link {
  color: $red;
  text-decoration: underline;
}

.red-span {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $red;
  color: white;
  padding: 3px 8px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(1,1,1,0.2);
}

.red-bordered-span {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 8px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(1,1,1,0.2);
  border: 1px solid $red;
  background-color: transparent;
  color: $red;
}

.button-container-main {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .red-mobile-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-weight: bolder;
    box-shadow: 0px 2px 4px rgba(1,1,1,0.3);
  }
}
