.card-picture {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: 30px;
  background-size: cover;
  display: block;
  background-position: center;
  .card-content {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    text-align: right;
    font-weight: bold;
    h3, p {
      text-shadow: 1px 1px 1px black;
    }
  }
  .card-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 30px;
    transition: all 300ms ease;
    z-index: -1;
  }
}

.card-hover:hover, .card-hover:active {
  opacity: 0.9;
  z-index: 9;
}

.card-picture:hover .card-hover {
  opacity: 0.9;
  z-index: 9;
}

.card-picture:active .card-hover {
  opacity: 0.9;
  z-index: 9;
}

.tour {
  .line-expl-part {
    max-height: 166px;
  }
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  min-height: 700px;
  padding: 20px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  .title-tour {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .tour-description {
    padding: 0px 12px;
    min-height: 300px;
    .times-tour {
      display: flex;
      justify-content: center;
      .times-one, .times-two {
        margin: 5px 0px;
      }
    }
    .times-one p, .times-two p {
      background-color: rgb(245, 245, 245);
      color: #666666;
      padding: 2px 8px;
      border-radius: 1px;
    }
  }
  .tour-expl {
    display: flex;
    flex-direction: column;
    span {
      margin: 10px;
      svg {
        margin-right: 7px;
      }
    }
  }
}




