.mailchimp-form {
  position: relative;
  input[type="email"] {
    border-top: none;
    border-right: none;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    background-color: transparent;
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    &::placeholder {
      color: white;
      font-size: 14px;
      font-weight: lighter;
    }
  }
  input[type="submit"] {
    border: none;
    background-color: transparent;
    color: white;
    display: block;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 1px;
    padding: 0;
  }
  input {
    &:focus {
      outline: none;
    }
  }
}



// XS
@media(max-width: 768px) {
  .mailchimp-form {
    width: 80%;
  }
}

