.title-dark h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #00171F;
  display: flex;
  justify-content: center;
  margin: 50px 0px 30px 0px;
}


@media(max-width: 967px) {
    .title-dark h2 {
      font-size: 32px;
    }
}



.title-line {
  background: $red;
  width: 70px;
  height: 2px;
  margin: 40px auto;
}

.title-line-lg {
  background: $red;
  width: 70px;
  height: 1px;
  margin: 20px auto;
}

