.thumbnail-fdb {
  width: 100%;
  height: 100%;
}

@media(max-width: 967px) {
  .thumbnail-fdb {
    margin: 20px 0px;
  }
}


.thumbnail-round {
  border-radius: 50%;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
