.thumbnail-fdb {
  width: 100%;
  height: 100%;
}

@media(max-width: 967px) {
  .thumbnail-fdb {
    margin: 20px 0px;
  }
}

.centered-thumbnail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .thumbnail-round {
    border-radius: 50%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}


.fleet-boat-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  .fleet-photo {
    width: 300px;
  }
  .boat-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 0px 4px rgba(1,1,1,0.3);
  }
}
