.wrapper-grey {
  width: 100vw;
  background-color: $light-gray;
  height: 100%;
}

.wrapper-white {
  padding: 50px 0px;
}

.content-wrapper-grey {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  .paragraph-container {
    text-align: center;
    line-height: 1.8;
    color: rgba(51,51,51,0.9);
    font-size: 18px;
  }
}


@media(min-width: 968px) {
  .paragraph-container {
    width: 70%;
  }
  .review-container {
    width: 55%;
  }
}

@media(max-width: 967px) {
  .paragraph-container {
    width: 100%;
    p {
      font-size: 16px;
    }
  }
}


