// XS
@media(max-width: 767px) {
  .column-grid {
    padding: 0 40px;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;
    .first-column {
      padding-top: 40px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .second-column {
      padding-top: 40px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .content {
      width: 100%;
      h1 {
        font-size: 18px;
      }
      p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
}

// SM
@media(min-width: 768px) and (max-width: 992px) {
  .column-grid {
    display: grid;
    height: 80vh;
    width: 100%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
    .first-column {
      grid-row: 2;
      grid-column: 1;
    }
    .second-column {
      grid-row: 2;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content {
      width: 350px;
      h1 {
        font-size: 18px;
      }
      p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
}

// MD
@media(min-width: 993px) and (max-width: 1200px) {
  .column-grid {
    display: grid;
    height: 80vh;
    width: 100%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
    .first-column {
      grid-row: 2;
      grid-column: 1;
    }
    .second-column {
      grid-row: 2;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content {
      width: 350px;
      h1 {
        font-size: 18px;
      }
      p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
}

// LG
@media(min-width: 1201px) {
  .column-grid {
    display: grid;
    height: 50vh;
    width: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 0.5fr 1.2fr 1fr;
    .first-column {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
    .second-column {
      padding-left: 40px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
    .content {
      width: 350px;
      h1 {
        font-size: 18px;
      }
      p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
}
