.footer {
  background-color: #F5F5F5;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  .footer-container {
    display: flex;
    align-items: center;
  }
  .information-footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      margin-bottom: 3px;
    }
  }
  .logo {
    height: 50px;
    width: 135px;
    margin-bottom: 24px
  }
}
// Above tablet
@media(min-width: 968px) {
  .footer {
    .footer-container {
      padding: 20px 60px;
      justify-content: space-between;
    }
  }
}
// Below tablet
@media(max-width: 967px) {
  .footer {
    padding: 20px;
  }
  .footer-container {
    justify-content: space-around;
  }
}
