.footer {
  background-color: #F5F5F5;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  .footer-container {
    display: flex;
    align-items: center;
  }
  .information-footer {
    text-align: center;
    p {
      margin-bottom: 3px;
    }
  }
  img{
    margin-bottom: 24px
  }
}




@media(min-width: 968px) {
  .footer {
    max-height: 280px;
    .footer-container {
      margin: 20px 60px;
      justify-content: space-between;
    }
  }
}


// Above tablet
@media(max-width: 967px) {
  .footer {
    padding: 20px;
  }
  .footer-container {
    justify-content: space-around;
  }
}
