.navbar-dutch-boats {
  background-color: white;
  height: 100px;
  font-size: 14px;
  .logo {
    height: 50px;
    width: 135px;
  }
  .navbar-container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .navbar-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      .social-items {
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          color: $text-color;
          margin: 0px 15px;
          transition: color 200ms ease;
          &:hover {
            color: $red;
          }
        }
      }
      p {
        margin-bottom: 0px;
        font-weight: bold;
      }
    }
    .navbar-bottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 16px;
      a {
        margin: 0px 8px;
        color: $text-color;
        // To do: Get the transform to work
        display: block;
        transform: color 3s ease;
      }
      a:hover {
        text-decoration: none;

        color: $red;
      }
    }
  }

}

