@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%; margin: 0;
  }
}

.margin-top-bottom {
  margin: 32px 0px;
}
.margin-top {
  margin-top: 64px;
}

@media (min-width: 967px) {
  .remove-top-margin {
    margin-top: 0;
  }
}

.small-photo-width {
  width: 300px;
  height: 200px;
}

.vertical-photo-height {
  max-height: 600px;
}
