@import 'core';
@import 'animate';
@import 'autoheight';
@import 'lazyload';
@import 'video';

.carousel-image {
  height: 250px;
  margin: 0 30px;
  background-size: cover;
  background-position: center;
}