<div class="row">
  <div class="hidden-xs hidden-sm col-md-5 col-md-offset-1">
    <%= image_tag dato.additional_information.image.url, class: "vertical-photo-height" %>
  </div>
  <div class="col-xs-12 col-md-5">
    <ul class="list-style-none">
      <% dato.additional_information_topics.each do |topic| %>
      <li>
        <h3>
          <%= topic.title  %>
        </h3>
        <p>
          <%= topic.content %>
        </p>
        <!-- To do: Need to do some scroll below here -->
      </li>
      <% end %>
    </ul>
  </div>
</div>
