<form action="https://formspree.io/info@flyingdutchboats.com"
method="POST" class="contact-form">
<div class="form">
  <input type="hidden" value="Contact form request">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="John Doe" class="form-control">
  </div>
  <div class="form-group" id="bottom-input-left">
    <label for="email">Email:</label>
    <input type="email" name="_replyto" id="email" placeholder="john@doe.com" class="form-control">
  </div>
  <div class="form-group" id="bottom-input-left">
    <label for="phone">Phone number:</label>
    <input type="phone" name="phone" id="phone" placeholder="+31 6 12 34 56 78" class="form-control">
  </div>
  <div class="form-group">
    <label for="message">Your message to me:</label>
    <textarea type="text" name="message" id="message" placeholder="We would like to ask you about .. " class="form-control"></textarea>
  </div>
  <input type="submit" value="Contact me" class='btn-red'>
</div>
</form>
