<div class="special-notice-container text-center">
  <h2>
    <%= dato.current_status.title %>
  </h2>
  <div class="notice-title-line"></div>
  <p>
    <%= dato.current_status.content %>
  </p>
</div>
