<div class="special-notice-container text-center">
  <h2>
    Status: It's raining today ⛈
  </h2>
  <div class="notice-title-line"></div>
  <p>
    Which means, we are sailing less<br>
    We will sail every hour starting at 13:00 <br>
    Keep an eye on this page to see the latest updates <br>
  </p>
</div>
