<div class="container">
  <%= partial "dark_title", locals: { title: "The fleet"} %>
  <div class="row">
    <% dato.fleet_collections.each do |boat| %>
    <div class="col-xs-12 col-lg-4">
      <div class="fleet-boat-component">
        <h5>
        <%= boat.name %>
        </h5>
        <div class="title-line"></div>
        <div class="boat-image" style="background-image:url('<%= image_path boat.photo.url %>');"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>


