<div class="row">
  <div class="col-xs-12 col-sm-4">
    <img src="images/interior-2.jpeg" alt="Interior of FDB" class="thumbnail-fdb">
  </div>
  <div class="col-xs-12 col-sm-4">
    <img src="images/interior-2.jpeg" alt="Interior of FDB" class="thumbnail-fdb">
  </div>
  <div class="col-xs-12 col-sm-4">
    <img src="images/interior-2.jpeg" alt="Interior of FDB" class="thumbnail-fdb">
  </div>
</div>
