<!-- Set up your HTML -->
<div class="owl-carousel">
  <% image_collection.each do |photo| %>
    <div class="carousel-image" style="background-image:url('<%= photo.image.url %>');">
    </div>
    <% end %>
</div>
