<!-- Set up your HTML -->
<div class="owl-carousel">
    <div> 
      <%= image_tag "interior-2.jpeg", alt: "Interior of the Flying Dutch Boat" %>
    </div>
    <div> 
      <%= image_tag "interior-2.jpeg", alt: "Interior of the Flying Dutch Boat" %>
    </div>
    <div> 
      <%= image_tag "interior-2.jpeg", alt: "Interior of the Flying Dutch Boat" %>
    </div>
    <div> 
      <%= image_tag "interior-2.jpeg", alt: "Interior of the Flying Dutch Boat" %>
    </div>
</div>
