<div class="container">
  <%= partial "dark_title", locals: { title: "Hop on our Flagship Cruise"} %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <ul class="list-style-none">
      <% dato.single_ticket_informations.each do |topic| %>
      <li>
        <h3>
          <%= topic.single_ticket_information_title  %>
        </h3>
        <p>
          <%= topic.single_ticket_information_content %>
        </p>
      </li>
      <% end %>
    </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3 class="remove-top-margin">Pick up</h3>
      <p>Prinsengracht 267</p>
      <p>1016 GV Amsterdam</p>
      <div id="map"></div>
    </div>
  </div>
</div>
