<div class="container">
  <%= partial "dark_title", locals: { title: "Join us on the shared boat"} %>
  <p>This form is to book a spot on the shared tour. <p></p>If you want to reserve a <strong>private tour</strong>, you can do that <a href="/booking.html">here</a>.</p>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
    <script type="text/javascript" src="https://storage.googleapis.com/avayo-production/assets/ticketshop.js"></script><script type="text/javascript">Avayo.init("flagshipamsterdam");Avayo.show_banner(false);Avayo.insertTicketshop();</script>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h3 class="remove-top-margin">Pick up</h3>
    <p>Prinsengracht 267</p>
    <p>1016 GV Amsterdam</p>
    <div id="map"></div>
  </div>
</div>
</div>
