<div class="two-column-list">
  <div class="first-column">
    <h3>
      Join us if you 
    </h3>
    <ul>
      <li>
        <p>
          Like pirates
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Agree that what happens on the boat, stays on the boat
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Think Amsterdam is *** expensive and you want a cheap boat cruise
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Would like a personal boat cruise
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Would like to be guided by a happy and true local skipper and hostess
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Would like to sail on a 100% electric boat
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Like to lounge on our luxurious lounge deck
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          If you want to smoke your Dutch sigar (wink, wink)
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          A new self-made open boat
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Would like to cruise into the hidden canals and places of Amsterdam
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Would like to cruise into the smaller canals where all the big boats cannot go
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Like to take great photographs
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Feel like a pirate and would like to drink our special offer: Captain Morgan coke for only 5 euro
        </p>
        <span class="underline"></span>
      </li>
    </ul>
  </div>
  <div class="second-column">
    <h3>
      Do not join us if you 
    </h3>
    <ul>
      <li>
        <p>
          Like a robot guided tour with 19 languages
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Like to be treated as a number
        </p><span class="underline"></span>
      </li>
      <li>
        <p>
          Don't want any drinks available
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Looking for non-smoking cruise
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Like old and grumpy captains
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Don't want to know anything about Amsterdam
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Would like to hop on a big tourist bus boat (with sad faces in it)
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Love tourist traps
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Are looking for awkward silences
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Think Dutchies are very friendly on their bike
        </p>
        <span class="underline"></span>
      </li>
      <li>
        <p>
          Take yourself very seriously
        </p>
        <span class="underline"></span>
      </li>
    </ul>
  </div>
</div>