<div class="two-column-list">
  <div class="first-column">
    <h3>
      Join us if you
    </h3>
    <ul>
      <% dato.join_us_collections.each do |argument| %>
      <li>
        <p>
          <%= argument.join_us_reason %>
        </p>
        <span class="underline"></span>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="second-column">
    <h3>
      Do not join us if you
    </h3>
    <ul>
      <% dato.dont_join_us_collections.each do |argument| %>
      <li>
        <p>
          <%= argument.dont_join_us_reason %>
        </p>
        <span class="underline"></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>
