<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-wrapper-grey">
          <div class="title-dark">
            <h2>
              <%= "#{title}" %>
            </h2>
            <div class="title-line"></div>
          </div>
          <div class="paragraph-container">
              <%= "#{text}" %>
          </div>
          <div class="title-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
