<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="content-wrapper-grey">
          <div class="title-dark">
            <h2>
              <%= "#{title}" %>
            </h2>
            <div class="title-line"></div>
          </div>
          <div class="paragraph-container">
            <%= "#{text}" %>
          </div>
          <div class="title-line"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="wrapper-review">
          <div id="TA_cdswritereviewlg948" class="TA_cdswritereviewlg">
            <ul id="1JLdLp5eyp0y" class="TA_links RnyDNesDo">
              <li id="NrUmM7U4c" class="xL8r8o">
                <a target="_blank" href="https://www.tripadvisor.co.uk/"><img src="https://www.tripadvisor.co.uk/img/cdsi/img2/branding/medium-logo-12097-2.png" alt="TripAdvisor"/></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
