---
title: Flying Dutch Boats | Private boat tour Amsterdam
---
<div class="banner" style="background-image: url(images/interior-scheepvaart.jpeg);">
</div>
<%= partial "_wrapper_grey", :locals => { :title => "Private Boat Rental", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
	<div class="container">
		<%= partial "images_selection" %>
	</div>
</div>
<%= partial "_wrapper_grey", :locals => { :title => "Drinks and Appetizers", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
	<div class="container">
		<%= partial "images_selection" %>
	</div>
</div>
<div class="wrapper-grey">
	<div class="title-dark">
		<h2>Book a seat on the shared boat</h2>
	</div>
	<div class="title-line"></div>
</div>
