---
title: Flying Dutch Boats | Private boat tour Amsterdam
---
<div class="banner" style="background-image: url(images/interior-scheepvaart.jpeg);">
</div>
<%= partial "_wrapper_grey", :locals => { :title => "Private Boat Rental", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
	<div class="container">
		<%= partial "images_selection" %>
	</div>
</div>
<%= partial "_wrapper_grey", :locals => { :title => "Drinks and Appetizers", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
	<div class="container">
		<%= partial "images_selection" %>
	</div>
</div>
<div class="wrapper-grey">
	<%#= partial "dark_title", locals: { title: "Drinks and Appetizers"} %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<ul class="list-group">
					<h3>Drink options</h3>
					<li class="list-group-item">
						<h4>Flying Dutch Drinks Basic</h4>
						<p>Unlimited Heineken beer, wine and so  drinks: € 6.50 p.p. per hour (ice included)</p>

					</li>
					<li class="list-group-item">
						<h4>Flying Dutch Drinks Media</h4>
						<p>Unlimited Heineken beer, wine, prosecco and so  drinks: € 8.50 p.p. per hour (ice included)</p>
					</li>
					<li class="list-group-item"><h4>Flying Dutch Drinks Deluxe</h4>
						<p>Unlimited Heineken beer, wine, prosecco, vodka, rum, whiskey, gin and so  drinks: € 11.50 p.p. per hour (ice included)</p></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6">
					<ul class="list-group">
						<h3>Appetizers</h3>
						<li class="list-group-item">
							<h4>Flying Dutch Garnish Hot</h4>
							<p>Croque es, kaassoufles, chicken nuggets and frikandelletjes with three different sauces. €6,50 p.p.</p>

						</li>
						<li class="list-group-item">
							<h4>Flying Dutch Garnish Basic</h4>
							<p>Cheese, liver sausage, pickles, nuts and beef sausage Experience € 5,50 p.p.</p>
						</li>
						<li class="list-group-item">
							<h4>Flying Dutch Luxe Borrelplateau</h4>
							<p>Organic cheeses, fresh imported olives, the best humus in Amsterdam, sausage Brandt & Levie, and premium meats. All produce is sourced from local suppliers. A plateau is composed of at least 10 people. € 9,50 p.p.</p></li>
							<li class="list-group-item">
								<h4>Flying Dutch Luxury</h4>
								<p>Trimmings Wraps with salmon filling, wraps with chicken pesto stuffing, fruit skewers with mozzarella and tomatoes: € 12,50 p.p.</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

