<%= partial "wrapper_grey", locals: {title: "Get in touch with the Flying Dutch", text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-3">
        <img src="images/horizontal-drinks.jpeg" alt="Image contact page" class="thumbnail-round">
      </div>
      <div class="hidden-xs col-sm-3">
        <img src="images/horizontal-drinks.jpeg" alt="Image contact page" class="thumbnail-round">
      </div>
      <div class="hidden-xs col-sm-3">
        <img src="images/horizontal-drinks.jpeg" alt="Image contact page" class="thumbnail-round">
      </div>
      <div class="hidden-xs col-sm-3">
        <img src="images/horizontal-drinks.jpeg" alt="Image contact page" class="thumbnail-round">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= partial "dark_title", locals: {title: "Contact"} %>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-3">
        <div class="contact-phone">
          <span>
            <i class="fa fa-phone-square" aria-hidden="true">
            </i>
            +31 6 4758 9217
          </span>
          <br>
          <span>
            <i class="fa fa-envelope" aria-hidden="true">
            </i>
            info@flyingdutchboats.com
          </span>
        </div>
        <div class="contact-text">
          <p>Don't hesitate to drop me a line or give me a call. If you have any questions or requests considering the canal tours, you can fill out this form below and I will get back to you right away.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-9 col-md-offset-3">
      <%= partial "contact_form" %>
    </div>
  </div>
</div>



