<% content_for :meta_title do %>
<title>
  Flying Dutch Boats | <%= dato.events_page.meta_title %>
</title>
<% end %>
<% content_for :meta_description do %>
  <% dato.events_page.meta_description %>
<% end %>

<%= partial "_wrapper_grey", :locals => { :title => dato.events_page.title_introduction_text, :text => dato.events_page.content_introduction_text
 } %>

<div class="wrapper-white">
  <div class="container">
    <%= partial "events_image_grid" %>
  </div>
</div>
