---
title: Flying Dutch Boats | Canal tour Amsterdam
---

<div class="banner" style="background-image: url(images/voorpagina-afbeelding.jpeg);">
</div>
<%= partial "_wrapper_grey", :locals => { :title => "Old Amsterdam Canal Cruise", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="images/interior-2.jpeg" alt="Interior of FDB" class="thumbnail-fdb">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="images/interior-2.jpeg" alt="Interior of FDB" class="thumbnail-fdb">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="images/interior-2.jpeg" alt="Interior of FDB" class="thumbnail-fdb">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-5 col-sm-offset-2">
        <ul class="list-style-none">
          <li>
            <h3>Hop On</h3>
            <p>Buy your tickets on board or online <a href="/booking.html">here.</a></p>
          </li>
          <li>
            <h3>Bar</h3>
            <p>Extensive on-board bar with local drinks.</p>
          </li>
          <li>
            <h3>Times</h3>
            <p>Times are estimaded times, please call or message on your booked day.</p>
          </li>
          <li>
            <h3>Other Questions?</h3>
            <p>Have a look at our <a href="/faq.html">FAQ</a>. For other questions please call or message me at +31 647589217. Or start up our live chat.</p>
          </li>
          <li>
            <h3>Roof</h3>
            <p>In the wintertime and rainy days the boat will operate with a roof.</p>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-5">
        <h3>Highlights</h3>
        <p>During our cruise we will visit:</p>
        <ul class="list-items-red">
          <li>
            <p>Carré</p>
          </li>
          <li>
            <p>Hermitage Amsterdam</p>
          </li>
          <li>
            <p>National Maritime Museum</p>
          </li>
          <li>
            <p>Nemo</p>
          </li>
          <li>
            <p>Amstel River</p>
          </li>
          <li>
            <p>Skinny Bridge</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
