---
title: Flying Dutch Boats | Canal tour Amsterdam
---

<div class="banner" style="background-image: url(images/voorpagina-afbeelding.jpeg);">
</div>
<%= partial "_wrapper_grey", :locals => { :title => "Old Amsterdam Canal Cruises", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="images/interior-2.jpeg" alt="Interior of FDB" class="thumbnail-fdb">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="images/interior-2.jpeg" alt="Interior of FDB" class="thumbnail-fdb">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="images/interior-2.jpeg" alt="Interior of FDB" class="thumbnail-fdb">
      </div>
    </div>
  </div>
</div>
