---
title: Flying Dutch Boats | Canal tour Amsterdam
---

<div class="banner" style="background-image: url(images/voorpagina-afbeelding.jpeg);">
</div>
<%= partial "_wrapper_grey", :locals => { :title => "Old Amsterdam Canal Cruise", :text => " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos nihil cum, doloribus qui dolore, quae molestiae, neque nulla excepturi unde blanditiis rerum corporis. Accusantium laborum voluptas debitis tempora vero, repellat molestiae distinctio voluptatibus cum nemo libero cumque laudantium provident culpa quod dolorem perferendis, accusamus officiis assumenda dolore dicta blanditiis!" } %>
<div class="wrapper-white">
  <div class="container">
    <%= partial "images_selection" %>
    <%= partial "additional_information" %>
  </div>
</div>
<div class="wrapper-grey">
  <div class="container review-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="margin-top-bottom">
          <h3>Customer Succes Story</h3>
          <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita a, ab eum omnis assumenda temporibus? Voluptates, aliquam quisquam. Provident, animi.</em></p>
          <p> <strong>Harry Handvat</strong> </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="http://placehold.it/300x200" alt="" class="margin-top-bottom full-width">
      </div>
      <h2 class="margin-top-bottom">Check out why people love us on <a href="https://www.tripadvisor.nl/Attraction_Review-g188590-d12691954-Reviews-Flying_Dutch_Boats-Amsterdam_North_Holland_Province.html" target="_blank">Tripadvisor</a></h2>
    </div>
  </div>
</div>
<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-dark">
          <h2>Pick up location</h2>
        </div>
        <div class="title-line"></div>
        <div id="map"></div>
      </div>
    </div>

  </div>
</div>



<script>
  function initMap() {
    var uluru = {lat: 52.375297, lng: 4.884132};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnNY5g9K0rgQ1oxDcS8fIN0zXn_ONHO3E&callback=initMap">
</script>

