<%= partial "_wrapper_grey_with_review", :locals => { :title => dato.recommendations_page.title_introduction_text, :text => dato.recommendations_page.content_introduction_text } %>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <%= partial "do_and_dont" %>
    </div>
    <%= partial "restaurants_grid" %>
    <%= partial "cafes_grid" %>
  </div>
</div>
